{% extends "base.html" %}
{% block title %}home{% endblock %}
{% block dropdown %}
<div class="collapse navbar-collapse" id="navbarSupportedContent">
  <ul class="navbar-nav mr-auto">
    <li class="nav-item">
      <a class="nav-link" href="#"><a class="links" href="/meet">Meet Friends</a></a>
    </li>
    <li class="nav-item dropdown">
      <a class="nav-link dropdown-toggle" href="#" id="navbarDropdown" role="button" data-toggle="dropdown" aria-haspopup="true" aria-expanded="false">
       More:
      </a>
      <div class="dropdown-menu" aria-labelledby="navbarDropdown">
        <a class="dropdown-item" href="#"><a class="links" href="/training">Train your Dog</a></a>
        <a class="dropdown-item" href="#"><a class="links" href="/nutrientdiet">Nutrient and Diet</a></a>
        <div class="dropdown-divider"></div>
      </div>
    </li>
  </ul>
</div>
{% endblock %}
<button class="navbar-toggler" type="button" data-toggle="collapse" data-target="#navbarSupportedContent" aria-controls="navbarSupportedContent" aria-expanded="false" aria-label="Toggle navigation">
  <span class="navbar-toggler-icon"></span>
</button>
<div class="collapse navbar-collapse" id="navbarSupportedContent">
  <ul class="navbar-nav mr-auto">
    <li class="nav-item">
      <a class="nav-link" href="#"><a class="links" href="/meet">Meet Friends</a></a>
    </li>
    <li class="nav-item dropdown">
      <a class="nav-link dropdown-toggle" href="#" id="navbarDropdown" role="button" data-toggle="dropdown" aria-haspopup="true" aria-expanded="false">
       More:
      </a>
      <div class="dropdown-menu" aria-labelledby="navbarDropdown">
        <a class="dropdown-item" href="#"><a class="links" href="/training">Train your Dog</a></a>
        <a class="dropdown-item" href="#"><a class="links" href="/nutrientdiet">Nutrient and Diet</a></a>
        <div class="dropdown-divider"></div>
      </div>
    </li>
  </ul>
</div>
{% block content %}
<div>
  <br>
  <h2><center>Welcome To PUPSPACE <i class="fa-solid fa-paw"></i></center></h2>
  <br>
</div>

<section id="testimonials">
  <br>
  <div class="content">
    <br>
    We love all things dog!<br>
    PupSpace is an all-inclusive information hub dedicated towards dogs. 
    <br>
    PupSpace celebrates the love and passion pet parents have for their pets. 
    Starting with the vision to provide and curate reliable information to pet lovers we 
    have evolved into a platform that also brings you a wide range of pet products and 
    services covering the entire lifecycle of a pet.
    We at PupSpace.in truly believe that every pet deserves love and attention and our 
    products ensure that your pet stays happy and pampered, always!
    <br>
    This site is packed with information on everything associated to dogs. From dog breeds 
    to dog lifestyle,training,food lifestyle!Here we can find dog friends near-by to home. PupSpace acts as your 
    one-stop resource for all information related to dogs.
    <br>
    <br>
    <br>
    <br>
  </div>
  <br>
    <div id="testimonials_slides" class="carousel slide" data-ride="false">
        <div class="carousel-inner">
          <div class="carousel-item container-fluid">
            <center><img class="play_img" src="{{ url_for('static', filename='pexel1.jpeg') }}" alt="eat-image"></center>
           </div>
           <div class="carousel-item container-fluid">
            <center><img class="play_img" src="{{ url_for('static', filename='pexel3.jpeg') }}" alt="eat-image"></center>
           </div>
          <div class="carousel-item active container-fluid">
            <center><img class="play_img" src="{{ url_for('static', filename='play.jpg') }}" alt="play-image"></center>
          </div>
            <div class="carousel-item container-fluid">
                <center><img class="play_img" src="{{ url_for('static', filename='eat.jpg') }}" alt="eat-image"></center>
               </div>
               <div class="carousel-item container-fluid">
                <center><img class="play_img" src="{{ url_for('static', filename='training.jpg') }}" alt="eat-image"></center>
               </div>
               <div class="carousel-item container-fluid">
                <center><img class="play_img" src="{{ url_for('static', filename='play1.jpg') }}" alt="play-image"></center>
               </div>
          
          
        </div>
          <a class="carousel-control-prev" role="button" href="#testimonials_slides" data-slide="prev">
          <span class="carousel-control-prev-icon" aria-hidden="true"></span>
          </a>
          <a class="carousel-control-next" role="button" href="#testimonials_slides" data-slide="next">
          <span class="carousel-control-next-icon" aria-hidden="true"></span>
          </a>
      </div>
</section>

<!--Features-->

<section id="features">
  <div class="row">
    <div class="col-lg 4 feature_style">
      <i class="fa fa-paw fa-4x" aria-hidden="true"></i>
    <h3>Training.</h3>
    <p>Train your dogs.</p>
    </div>
    <div class="col-lg 4 feature_style ">
      <i class="fa fa-user-plus fa-4x" aria-hidden="true"></i>
    <h3>Connections</h3>
    <p>Connect with near by dogs.</p>
   </div>
   <div class="col-lg 4 feature_style">
    <i class="fa-solid fa-heart fa-4x feature_icons"></i>
    <h3>Health</h3>
    <p>Find the best food guide.</p>
  </div>
  </div>
</section>

<div>
  <table>
    <tr>
      <td>
        <img class="timg" src="{{ url_for('static', filename='t1.jpg') }}">
      </td>
      <td class="b1">
        <a href="/nutrientdiet"><button type="button" class="btn btn-light">Click!</button></a>
      </td>
    </tr>
    <tr>
      <td class="b1">
        <a href="/training"><button type="button" class="btn btn-light">Click!</button></a>
      </td>
      <td >
        <img class="timg" src="{{ url_for('static', filename='t2.jpeg') }}">
      </td>
    </tr>
    <tr>
      <td>
        <img class="timg" src="{{ url_for('static', filename='t3.jpeg') }}">
      </td>
      <td class="b1">
        <a href="/meet"><button type="button" class="btn btn-light">Click!</button></a>
      </td>
    </tr>
  </table>
</div>
{% endblock %}