.navbar-brand{
    font-size:2rem;
    font-weight: bold;
 }
 .nav-item{
    padding: 0px 18px;
 }
 .nav-link{
    font-size: 1.2rem;
    font-weight: bold;
 }

 .container-fluid{
    padding: 1% 5% 1%; /* 3%- top and bottom , 14%- left and right*/
 }
 body {
    background-color:  #ff4c68 ;
    background-image: -webkit-linear-gradient(60deg, #d8bdc1 60%, #ff4c68 40%);
    min-height: 1000px;
    font-family: 'helvetica neue';
    margin: 0.4cm;
  }
  .pic{
    float: right;
    width: 19%;
    height: 16%;
   margin-right: 6%;
   border-style: ridge;
   border-color: black;
   border-width: 0.1cm;
  }
  .pic2{
   float: left;
    width: 19%;
    height: 16%;
   margin-right: 6%;
   border-style: ridge;
   border-color: black;
   border-width: 0.1cm;
  }
  #footer{
   text-align: center;
   padding: 8% 16%;
}